In [27]:
import igraph
import numpy
import urllib
import pyreadr

In [32]:
pyreadr.download_file("https://ndownloader.figshare.com/files/23552735", "./networks_example.RData")
data = pyreadr.read_r("networks_example.RData")

In [34]:
data['networks']

               networks
0            Homo_skull
1  Homo_skull_variation
2         Nothura_skull
3      Crocodylus_skull

In [37]:
data['.Random.seed']

     .Random.seed
0           10403
1             323
2       966114883
3       395887888
4      1832780644
..            ...
621    1723163888
622   -1568838793
623     327399422
624     899969999
625     227488350

[626 rows x 1 columns]

In [46]:
data

OrderedDict([('networks',
                             networks
              0            Homo_skull
              1  Homo_skull_variation
              2         Nothura_skull
              3      Crocodylus_skull),
             ('.Random.seed',
                   .Random.seed
              0           10403
              1             323
              2       966114883
              3       395887888
              4      1832780644
              ..            ...
              621    1723163888
              622   -1568838793
              623     327399422
              624     899969999
              625     227488350

              [626 rows x 1 columns])])

In [47]:
data['graph']

KeyError: 'graph'